body {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 1.5em;
    width: 770px;
    margin: 0 auto;
}
header {
    height: 100px;
    background: url('cabecera.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    padding: 0 1em;
}
nav {
    display: flex;
    gap: 1em;
}
nav a {
    padding: 0.3em;
    margin-bottom: 0.7em;
    text-decoration: none;
    color: blue;
}
nav a:visited {
    color: blue;
}
nav a:hover {
    color: red;
    background-color: #f0f0f0;
}
main {
    display: flex;
    justify-content: space-between;
}
.zona-principal {
    padding: 1em;
    box-sizing: border-box;
}
.zona-secundaria {
    width: 130px;
    padding: 1em;
    background-color: #f4f4f4;
    /* box-sizing: border-box; */
}
.zona-enlaces {
    width: 130px;
    padding: 1em;
    box-sizing: border-box;
}
p {
    margin-top: 0.5em;
}
table a {
    color: green;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #ddd;
}
